<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
name: <input type="text" name="name"><br/>
email: <input type="text" name="email"><br/>
password: <input type="text" name="password"><br/>
Sign Up: <input type="submit" value="submit" name="Sign Up">
</form>

